<h3>Listings in <%= @neighborhood.name %> </h3>

<ul>
  <% @listings.each do |listing| %>
    <li>
      <a href="/listings/<%=listing.id%>"><img src="<%= listing.img_url %>" height="50%" width="50%"></a>
      </br>
    </li>
  <% end %> 
</ul>     