/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.sign_up h1{
	margin: 0 auto;
	text-align: center;
	font-family: raleway;
	font-weight: bold;
    color: grey;
}

.welcome {
	background-image: url("http://static1.squarespace.com/static/55a40896e4b065e944474216/t/55bec9c7e4b010285c420b1c/1437617702823/airbnb+background.jpg?format=1500w");
	height:800px;
	text-align: center;
	font-family: raleway;
	font-weight: bold;
}

.welcome h1{
	margin: 0 auto;
	text-align: center;
	font-family: raleway;
	font-weight: bold;
    font-size: 40px;
    padding-top: 50px;
}

.welcome a {
	margin: 0 auto;
    font-size: 20px;
    padding-top: 50px;
}

.sign_up {
    background-image: url("https://a2.muscache.com/airbnb/static/landing_pages/pretzel/stills/croatia-887a17b9994536f0d95bfd3f43ed664c.jpg");
	height:800px;
	text-align: center;
	font-family: raleway;
	font-weight: bold;
	
}

.sign_up h1{
	margin: 0 auto;
	font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    color:black;
}

.neighborhoods {
	margin: 0 auto;
	text-align: center;
	font-family: raleway;
	font-weight: bold;
    color: grey;
    padding-bottom: 25px;
}

.neighborhoods ul{
	list-style-type: none;
}

.neighborhoods_image{
	background-image: url("http://assets3.thrillist.com/v1/image/1388258/size/tmg-article_main_wide_2x");
	height:700px;
}
